:root{
    --bg-color: white;
    --btn-color: white;
    --accent-color: grey;
    --shadow-color: grey;
}
body{
    display: flex;
    justify-content: center;
    background-color: var(--bg-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}
.toggle{
    margin-top: 10px;
    margin-right: 20px;
    display: flex;
    justify-content: flex-start;
    width:100px;
    height:50px;
    background-color: var(--accent-color);
    box-shadow: 0px 0px 5px 3px var(--shadow-color);
    border-radius: 100px;
    cursor: pointer;
}
.toggle:hover{
    box-shadow: 0px 0px 6px 5px var(--shadow-color);
}
.toggle-on{
    justify-content: flex-end;
}
.toggle-ball{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:5px;
    width:40px;
    height:40px;
    background-color: var(--btn-color);
    border-radius: 100%;
    animation:toggle-off 2s linear infinite ease-in-out;
}
#sun{
    width:30px;
    height: 30px;
   
}
#moon{
    width:30px;
    height:30px;
     display: none;
}
.toggle-ball-on{
    animation:toggle-on 1s ease-in-out;
}
.toggle-ball-off{
    animation:toggle-off 1s ease-in-out;
}
@keyframes toggle-off{
    0%{
        transform: translateX(50px) rotateZ(360deg);
    }
}
@keyframes toggle-on{
    0%{
        transform: translateX(-50px) rotate(360deg);
    }
}
