body{
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    background-color: #233142;
}
.task-input{
    padding:10px;
    font-size: larger;
    margin-top:200px;
    background-color:  #455d7a;
    border-radius: 10px;
}
form textarea{
    width:300px;
    height:40px;
    resize:none;
    border-radius: 5px;
}
.task-list{
    background-color:  #455d7a;
    width:400px;
    padding:10px;
    border-radius: 12px;
}
.task-div{
    display: flex;
    justify-content: space-between;
    padding:10px;
    color:black;
    background: #e3e3e3;
    border-radius:10px ;
    font-size:large;
}
.task-div button{
    border:none;
    font-weight: bold;
    font-size: 15px;
    background-color: #e3e3e3 ;
}