body{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    height:100vh;
    background-color:#171717;
    font-family: Arial, sans-serif;
    color:white;
}
.counter-display{
    text-align:center;
    margin-bottom:20px;
    font-size: 4em;
}
.counter-container{
    display:flex;
    flex-direction: column;
}
.button-group{
    display:flex;
    gap:10px;
    justify-content: center;
    
}
button{
    font-size:2em;
    font-weight:light;
    border-radius: 20px;
    padding:10px;
    width:150px;
    cursor: pointer;
   
    transition:all 0.2s ease-in-out;
    border:none;
    color:white;
    background-color:#333333;
    transform:translateY(5px);
}
button:hover{
    transform:translateY(-3px);
    box-shadow: 0px 5px 3px rgba(225, 99, 15, 0.869);
    
}
footer{
    position:fixed;
    bottom:10px;
    font-size:0.8em;
    color:#888888;
}
