:root{
    --primary-color: #ffffff;
    --secondary-color: #888888;
    --background-color : #333333;

}

body{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    height:100vh;
    background-color:#171717;
    font-family: Arial, sans-serif;
    color:var(--primary-color);
}
.counter-display{
    text-align:center;
    margin-bottom:20px;
    font-size: 4em;
    transition: transform 0.2s ease, color 0.2s ease;
}
.counter-container{
    display:flex;
    flex-direction: column;
}
.button-group{
    display:flex;
    gap:10px;
    justify-content: center;
    
}
button{
    font-size:2em;
    font-weight:light;
    border-radius: 20px;
    padding:10px;
    width:150px;
    cursor: pointer;
   
    transition:all 0.2s ease-in-out;
    border:none;
    color:var(--primary-color);
    background-color:var(--background-color);
    transform:translateY(5px);
}
button:hover{
    transform:translateY(-3px);
    box-shadow: 0px 5px 3px rgba(225, 99, 15, 0.869);
    
}
footer{
    position:fixed;
    bottom:10px;
    font-size:0.8em;
    color:var(--secondary-color);
}
@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shake 0.3s;
}


@media(max-width: 500px) {
    .button-group button { width: 100px; font-size:1.5em; }
    .counter-display { font-size: 3em; }
}
